.whitetext {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Sans-serif, serif;
}

.topbar {
    background-color: rgba(45, 45, 45, 0.8);
    padding-top: 5px;
    padding-bottom: 8px;
    position: fixed;
    margin-top: 4px;
    left: 2%;
    right: 2%;
    border-radius: 10px;
    z-index: 1;
}
.panel {
    background-color: rgba(45, 45, 45, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 4px;
    width: 96%;
    margin-left: 2%;
    horiz-align: center;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    z-index: 1;
}
img {
    padding: 0;
    margin: 0;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: -1;
}
.container {
    position: relative;
}